{
    "openapi": "3.0.3",
    "info": {
      "title": "Huli API",
      "version": "2.0.0",
      "description": "Public API for the Huli healthcare platform providing endpoints for practice management, \nEHR (Electronic Health Records), patient management, and healthcare integrations.\n\n## API Version\nThis documentation covers v2 endpoints. All new integrations should use v2 endpoints exclusively.\n\n## Getting Started\nBegin with the authentication endpoints below to obtain access credentials and learn about required headers.\n",
      "contact": {
        "name": "Huli Support",
        "email": "soporte@hulipractice.com"
      },
      "x-logo": {
        "url": "./huli-logo.webp",
        "altText": "Huli - Healthcare Platform"
      }
    },
    "servers": [
      {
        "url": "https://api.huli.io",
        "description": "Production server"
      }
    ],
    "tags": [
      {
        "name": "Authentication",
        "description": "API authentication and token management"
      },
      {
        "name": "Organizations",
        "description": "Organization and clinic management"
      },
      {
        "name": "Patient Management",
        "description": "Patient and patient file management operations"
      },
      {
        "name": "EHR - Documents",
        "description": "Document upload and management"
      },
      {
        "name": "EHR - Medical Records",
        "description": "Medical record retrieval"
      },
      {
        "name": "EHR - Checkups",
        "description": "Checkup data retrieval (v2 only)"
      },
      {
        "name": "Appointments",
        "description": "Appointment scheduling and management"
      },
      {
        "name": "Doctors",
        "description": "Doctor information"
      },
      {
        "name": "Webhooks",
        "description": "Webhook event notifications for external systems"
      }
    ],
    "security": [
      {
        "bearerAuth": []
      }
    ],
    "paths": {
      "/practice/v2/authorization/token": {
        "post": {
          "tags": [
            "Authentication"
          ],
          "summary": "Obtain JWT token",
          "description": "Exchange your API key for a JWT token required for all authenticated requests.\n\n**API Key Access:**\nAPI keys must be requested through support channels by the organization owner. \nThe organization ID (`id_organization`) will be provided alongside the API key.\n\n**Usage:**\n1. Include the returned JWT token in the Authorization header: `Bearer {token}`\n2. Include the organization ID in the `id_organization` header for request scoping\n\nMost endpoints require the `id_organization` header to validate the request scope.\n",
          "operationId": "getAuthToken",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string",
                      "description": "Your organization's API key",
                      "example": "your_api_key_here"
                    }
                  },
                  "required": [
                    "api_key"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "JWT token generated successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "response": {
                        "type": "string",
                        "example": "OK"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "jwt": {
                            "type": "string",
                            "description": "JWT token for authentication",
                            "example": "eyJhbGciOiJSUzUxMiIs..."
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/organization": {
        "get": {
          "tags": [
            "Organizations"
          ],
          "summary": "Get organization information",
          "description": "Retrieve organization information including healthcare professionals.\n\n**Authorization Details:**\nUse the `expand=AUTHORIZATION` query parameter to retrieve detailed authorization \ninformation, including the `idGrantor` fields which contain the doctor user IDs \nassociated with the organization. This provides access to healthcare professional \nidentifiers for further API operations.\n",
          "operationId": "getOrganization",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "expand",
              "in": "query",
              "description": "Include additional details in the response",
              "schema": {
                "type": "string",
                "enum": [
                  "AUTHORIZATION"
                ]
              },
              "example": "AUTHORIZATION"
            }
          ],
          "responses": {
            "200": {
              "description": "Organization information retrieved successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Organization"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/patient-file": {
        "post": {
          "tags": [
            "Patient Management"
          ],
          "summary": "Create patient file",
          "description": "Create a new patient file in the Master Patient Index (MPI). This endpoint creates a comprehensive \npatient record including personal data, contact information, insurance details, and emergency contacts.\n\nThe patient file serves as the central record for all patient-related information across the Huli platform.\n",
          "operationId": "createPatientFile",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientFileRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Patient file created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PatientFileResponse"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        },
        "get": {
          "tags": [
            "Patient Management"
          ],
          "summary": "List patient files",
          "description": "List all patient files accessible to the user within their organization",
          "operationId": "listPatientFiles",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "query",
              "in": "query",
              "description": "Search filter - can be a phone number, patient name, or identification number",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Maximum number of results to return",
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100,
                "default": 20
              }
            },
            {
              "name": "offset",
              "in": "query",
              "description": "Number of results to skip for pagination",
              "schema": {
                "type": "integer",
                "minimum": 0,
                "default": 0
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List of patient files with pagination",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "patientFiles": {
                        "type": "array",
                        "description": "Array of simplified patient file objects",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Patient file identifier",
                              "example": "130718"
                            },
                            "idUser": {
                              "type": "string",
                              "description": "ID of user who created the record",
                              "example": "3001"
                            },
                            "idPatient": {
                              "type": "string",
                              "description": "Internal patient identifier (when available)",
                              "example": "2617"
                            },
                            "personalData": {
                              "type": "object",
                              "description": "Simplified patient personal information",
                              "properties": {
                                "firstName": {
                                  "type": "string",
                                  "example": "Oscar"
                                },
                                "lastName": {
                                  "type": "string",
                                  "example": "Fernandez"
                                },
                                "knownAs": {
                                  "type": "string",
                                  "description": "Name the patient is commonly known by (when available)",
                                  "example": "Oski"
                                },
                                "photo": {
                                  "type": "string",
                                  "description": "Path to patient's photo (when available)",
                                  "example": "huli/patient/photo/22082019/73383/8ccdbff2d153166b46595bdac0985cd3.jpg"
                                },
                                "patientIds": {
                                  "type": "array",
                                  "description": "Patient identification documents",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "idType": {
                                        "type": "string",
                                        "enum": [
                                          "ID_CARD",
                                          "DRIVER_LICENSE",
                                          "SOCIAL_SECURITY_NUMBER",
                                          "PASSPORT",
                                          "OTHER",
                                          "CURP",
                                          "DIMEX"
                                        ],
                                        "example": "ID_CARD"
                                      },
                                      "idNumber": {
                                        "type": "string",
                                        "example": "342342343"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "contact": {
                              "type": "object",
                              "description": "Simplified contact information (when available)",
                              "properties": {
                                "email": {
                                  "type": "string",
                                  "format": "email",
                                  "example": "patient@example.com"
                                }
                              }
                            }
                          }
                        }
                      },
                      "total": {
                        "type": "integer",
                        "description": "Total number of patient files available",
                        "example": 1836
                      },
                      "size": {
                        "type": "integer",
                        "description": "Number of patient files returned in current response",
                        "example": 10
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/patient-file/{patientFileID}": {
        "get": {
          "tags": [
            "Patient Management"
          ],
          "summary": "Get patient file",
          "description": "Retrieve a specific patient file by ID",
          "operationId": "getPatientFile",
          "parameters": [
            {
              "name": "patientFileID",
              "in": "path",
              "required": true,
              "description": "Patient file ID",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/OrganizationId"
            }
          ],
          "responses": {
            "200": {
              "description": "Patient file details",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PatientFileResponse"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/ehr/patient/{patientFileID}/owner/{ownerID}/document": {
        "post": {
          "tags": [
            "EHR - Documents"
          ],
          "summary": "Upload document to patient",
          "description": "Upload a document to a specific patient file",
          "operationId": "uploadDocumentToPatient",
          "parameters": [
            {
              "name": "patientFileID",
              "in": "path",
              "required": true,
              "description": "Patient file ID",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ownerID",
              "in": "path",
              "required": true,
              "description": "Owner/Doctor ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadDocumentRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Document uploaded successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v1/ehr/patient/{patientID}/owner/{ownerID}/medical-record": {
        "get": {
          "tags": [
            "EHR - Medical Records"
          ],
          "summary": "Get medical record",
          "description": "Retrieve a patient's complete medical record.\n\n**Note:** This endpoint uses v1 format. The response format follows v1 conventions rather than the standardized v2 format used by other endpoints.\n",
          "operationId": "getMedicalRecord",
          "parameters": [
            {
              "name": "patientID",
              "in": "path",
              "required": true,
              "description": "Patient ID",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ownerID",
              "in": "path",
              "required": true,
              "description": "Organization owner ID (user ID of the organization owner)",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Medical record data",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/MedicalRecord"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get checkup",
          "description": "Retrieve complete checkup information",
          "operationId": "getCheckup",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Checkup data",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Checkup"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}/prescription": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get prescription",
          "description": "Retrieve prescription details from a checkup",
          "operationId": "getCheckupPrescription",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Prescription data",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckupPrescription"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}/vital-signs": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get vital signs",
          "description": "Retrieve vital signs recorded during a checkup",
          "operationId": "getCheckupVitalSigns",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Vital signs data",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckupVitalSigns"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}/diagnosis": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get diagnosis",
          "description": "Retrieve diagnosis information from a checkup",
          "operationId": "getCheckupDiagnosis",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Diagnosis data",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckupDiagnosis"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}/lab-procedure-request": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get lab procedure request",
          "description": "Retrieve lab procedure requests from a checkup",
          "operationId": "getCheckupLabProcedureRequest",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Lab procedure request data",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckupLabProcedure"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}/suffering": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get suffering/symptoms",
          "description": "Retrieve patient suffering or symptoms from a checkup",
          "operationId": "getCheckupSuffering",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Suffering/symptoms data",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckupSuffering"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}/reason-of-visit": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get reason of visit",
          "description": "Retrieve reason for visit from a checkup",
          "operationId": "getCheckupReasonOfVisit",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Reason of visit data",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckupReasonOfVisit"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}/physical-note": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get physical examination notes",
          "description": "Retrieve physical examination notes from a checkup",
          "operationId": "getCheckupPhysicalNote",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Physical examination notes",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckupPhysicalNote"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}/systematic-examination": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get systematic examination",
          "description": "Retrieve systematic examination details from a checkup",
          "operationId": "getCheckupSystematicExamination",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Systematic examination data",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckupSystematicExamination"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}/review-of-systems": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get review of systems",
          "description": "Retrieve review of systems from a checkup",
          "operationId": "getCheckupReviewOfSystems",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Review of systems data",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckupReviewOfSystems"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}/sleep-pattern": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get sleep pattern",
          "description": "Retrieve sleep pattern information from a checkup",
          "operationId": "getCheckupSleepPattern",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Sleep pattern data",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckupSleepPattern"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}/anthropometric-data": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get anthropometric data",
          "description": "Retrieve anthropometric measurements from a checkup",
          "operationId": "getCheckupAnthropometricData",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Anthropometric data",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckupAnthropometric"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}/last-menstrual-cycle": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get last menstrual cycle",
          "description": "Retrieve last menstrual cycle information from a checkup",
          "operationId": "getCheckupLastMenstrualCycle",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Last menstrual cycle data",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckupLastMenstrualCycle"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}/note": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get checkup notes",
          "description": "Retrieve general notes from a checkup",
          "operationId": "getCheckupNote",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Checkup notes",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckupNote"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}/bowel-habit": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get bowel habit",
          "description": "Retrieve bowel habit information from a checkup",
          "operationId": "getCheckupBowelHabit",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Bowel habit data",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckupBowelHabit"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}/plan-note": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get plan notes",
          "description": "Retrieve treatment plan notes from a checkup",
          "operationId": "getCheckupPlanNote",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Plan notes",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckupPlanNote"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/checkup/{eventID}/questions": {
        "get": {
          "tags": [
            "EHR - Checkups"
          ],
          "summary": "Get custom questions",
          "description": "Retrieve custom questions and answers from a checkup",
          "operationId": "getCheckupCustomQuestions",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Checkup ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Custom questions data",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckupCustomQuestions"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/availability/doctor/{doctorID}/clinic/{clinicID}": {
        "get": {
          "tags": [
            "Appointments"
          ],
          "summary": "Get doctor availability",
          "description": "Get available time slots for a doctor at a specific clinic",
          "operationId": "getDoctorAvailability",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "doctorID",
              "in": "path",
              "required": true,
              "description": "Doctor ID",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "clinicID",
              "in": "path",
              "required": true,
              "description": "Clinic ID",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "from",
              "in": "query",
              "required": true,
              "description": "Start date-time for availability range (ISO 8601 format)",
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2025-07-01T13:32:00Z"
            },
            {
              "name": "to",
              "in": "query",
              "required": true,
              "description": "End date-time for availability range (ISO 8601 format)",
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "example": "2025-07-06T13:32:00Z"
            }
          ],
          "responses": {
            "200": {
              "description": "Available time slots",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DoctorAvailabilityResponse"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/appointment": {
        "post": {
          "tags": [
            "Appointments"
          ],
          "summary": "Create appointment",
          "description": "Schedule a new appointment between patients and doctors.\n\n**Required fields**: `id_doctor`, `id_clinic`, `start_date`, `time_from`\n\n**Appointment Duration Options:**\n- Provide `source_event` (availability slot ID) - system calculates `end_date` and `time_to` automatically\n- OR provide `end_date` and `time_to` manually\n- One of these approaches is required\n\n**Recommendation**: Using `source_event` is recommended to ensure the appointment is created during an available time slot. \nQuery availability endpoints first to get valid slot IDs.\n\n**Core Requirements:**\n- Doctor must be associated with the specified clinic\n\n**Permission-Based Restrictions:**\nSome users may have additional business rules enforced, such as:\n- Appointments must be scheduled at least 1 hour in advance\n- Patient cannot have multiple appointments with same doctor on same day  \n- Maximum 3 appointments per patient per day (when patient file provided)\n\n**Important**: Business rules and validation requirements vary significantly based on user-specific permissions. \nThe above restrictions are examples that may or may not apply to your API key.\n",
          "operationId": "createAppointment",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAppointmentRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Appointment created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Appointment"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/appointment/{eventID}": {
        "get": {
          "tags": [
            "Appointments"
          ],
          "summary": "Get appointment",
          "description": "Retrieve appointment details by event ID",
          "operationId": "getAppointment",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Appointment ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Appointment details",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Appointment"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        },
        "put": {
          "tags": [
            "Appointments"
          ],
          "summary": "Update appointment",
          "description": "Update appointment details.\n\n**Requirements:**\n- Appointment must have status `BOOKED`\n- Field availability depends on user permissions\n",
          "operationId": "updateAppointment",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Appointment ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAppointmentRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Appointment updated successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Appointment"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/appointment/{eventID}/cancel": {
        "put": {
          "tags": [
            "Appointments"
          ],
          "summary": "Cancel appointment",
          "description": "Cancel an appointment, changing its status to `CANCELLED` and availability to `IGNORE`.\n\n**Effects:**\n- Status changes from `BOOKED` to `CANCELLED`\n- Availability changes from `BUSY` to `IGNORE`\n- Sets `isStatusModifiedByPatient` flag based on request\n",
          "operationId": "cancelAppointment",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Appointment ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_status_modified_by_patient": {
                      "type": "boolean",
                      "description": "Flag to indicate if the cancellation was requested by the patient",
                      "example": true
                    }
                  },
                  "required": [
                    "is_status_modified_by_patient"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Appointment cancelled successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Appointment"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/appointment/{eventID}/patient-confirm": {
        "put": {
          "tags": [
            "Appointments"
          ],
          "summary": "Confirm appointment",
          "description": "Mark an appointment as confirmed by patient.\n\n**Effects:**\n- Sets `isConfirmedByPatient` to `true`\n- Appointment status remains `BOOKED`\n",
          "operationId": "confirmAppointment",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Appointment ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Appointment confirmed successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Appointment"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/appointment/{eventID}/reschedule": {
        "put": {
          "tags": [
            "Appointments"
          ],
          "summary": "Reschedule appointment",
          "description": "Reschedule an existing appointment to a new date and time.\n\n**Requirements:**\n- Only appointments with status `BOOKED` can be rescheduled\n- Appointments with associated checkups cannot be rescheduled\n- Field availability depends on user permissions\n\n**Effects:**\n- Creates new appointment with new date/time\n- Original appointment marked as `RESCHEDULED`\n- Sends notifications to patient and provider\n\n**Business Rules:**\n- Maximum 3 appointments per patient per day\n- No overlapping appointments for same patient\n- Must be scheduled in the future with advance notice\n",
          "operationId": "rescheduleAppointment",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Appointment ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isStatusModifiedByPatient": {
                      "type": "boolean",
                      "description": "Flag to indicate if the reschedule was requested by the patient",
                      "example": true
                    },
                    "startDate": {
                      "type": "string",
                      "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}",
                      "description": "New start date for the appointment (YYYY-MM-DD)",
                      "example": "2024-07-15"
                    },
                    "timeFrom": {
                      "type": "string",
                      "pattern": "[0-9]{2}:[0-9]{2}:[0-9]{2}",
                      "description": "New start time for the appointment (HH:MM:SS)",
                      "example": "14:30:00"
                    },
                    "endDate": {
                      "type": "string",
                      "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}",
                      "description": "New end date for the appointment (YYYY-MM-DD)",
                      "example": "2024-07-15"
                    },
                    "timeTo": {
                      "type": "string",
                      "pattern": "[0-9]{2}:[0-9]{2}:[0-9]{2}",
                      "description": "New end time for the appointment (HH:MM:SS)",
                      "example": "15:00:00"
                    },
                    "sourceEvent": {
                      "type": "string",
                      "description": "Availability event ID for the new appointment slot",
                      "example": "12345"
                    }
                  },
                  "required": [
                    "isStatusModifiedByPatient",
                    "startDate",
                    "timeFrom"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Appointment rescheduled successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Appointment"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/appointment/{eventID}/no-show": {
        "put": {
          "tags": [
            "Appointments"
          ],
          "summary": "Mark appointment as no-show",
          "description": "Mark an appointment as no-show when patient doesn't attend.\n\n**Requirements:**\n- Appointment status must be `BOOKED` or `COMPLETED`\n- Appointment must be in the past (cannot mark future appointments)\n\n**Effects:**\n- Creates new appointment record with status `NOSHOW`\n- Inactivates original appointment record\n- Sends notifications to patient and provider\n",
          "operationId": "markAppointmentNoShow",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "eventID",
              "in": "path",
              "required": true,
              "description": "Event/Appointment ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Appointment marked as no-show successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Appointment"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/appointment/doctor/{doctorID}": {
        "get": {
          "tags": [
            "Appointments"
          ],
          "summary": "List doctor appointments",
          "description": "Get all appointments for a specific doctor with filtering and pagination support.\n\n**Required Parameters:**\n- Date range (`from` and `to`) is mandatory for filtering appointments\n\n**Filtering:**\n- Filter by appointment status, clinic, or pagination\n- All appointments within date range returned by default\n",
          "operationId": "listDoctorAppointments",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "doctorID",
              "in": "path",
              "required": true,
              "description": "Doctor ID",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "from",
              "in": "query",
              "required": true,
              "description": "Start date filter (ISO 8601 format)",
              "schema": {
                "type": "string",
                "format": "date-time",
                "example": "2024-01-01T00:00:00Z"
              }
            },
            {
              "name": "to",
              "in": "query",
              "required": true,
              "description": "End date filter (ISO 8601 format)",
              "schema": {
                "type": "string",
                "format": "date-time",
                "example": "2024-12-31T23:59:59Z"
              }
            },
            {
              "name": "idClinic",
              "in": "query",
              "description": "Filter by specific clinic ID",
              "schema": {
                "type": "string",
                "example": "2877"
              }
            },
            {
              "name": "status_appointment",
              "in": "query",
              "description": "Filter by appointment status",
              "schema": {
                "type": "string",
                "enum": [
                  "BOOKED",
                  "RESCHEDULED",
                  "COMPLETED",
                  "CANCELLED",
                  "NOSHOW"
                ],
                "example": "COMPLETED"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Maximum number of results to return",
              "schema": {
                "type": "integer",
                "example": 20
              }
            },
            {
              "name": "offset",
              "in": "query",
              "description": "Number of results to skip for pagination",
              "schema": {
                "type": "integer",
                "example": 0
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List of appointments with pagination metadata",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "appointments": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Appointment"
                        }
                      },
                      "total": {
                        "type": "string",
                        "description": "Total number of appointments matching the criteria",
                        "example": "1003"
                      },
                      "size": {
                        "type": "string",
                        "description": "Number of appointments returned in this response",
                        "example": "20"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/appointment/patient/{patientFileID}": {
        "get": {
          "tags": [
            "Appointments"
          ],
          "summary": "List patient appointments",
          "description": "Get all appointments for a specific patient with filtering and pagination support.",
          "operationId": "listPatientAppointments",
          "parameters": [
            {
              "name": "patientFileID",
              "in": "path",
              "required": true,
              "description": "Patient file ID",
              "schema": {
                "type": "string"
              }
            },
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "from",
              "in": "query",
              "description": "Start date filter (ISO 8601 format)",
              "schema": {
                "type": "string",
                "format": "date-time",
                "example": "2024-01-01T00:00:00Z"
              }
            },
            {
              "name": "to",
              "in": "query",
              "description": "End date filter (ISO 8601 format)",
              "schema": {
                "type": "string",
                "format": "date-time",
                "example": "2024-12-31T23:59:59Z"
              }
            },
            {
              "name": "status_appointment",
              "in": "query",
              "description": "Filter by appointment status",
              "schema": {
                "type": "string",
                "enum": [
                  "BOOKED",
                  "RESCHEDULED",
                  "COMPLETED",
                  "CANCELLED",
                  "NOSHOW"
                ],
                "example": "COMPLETED"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Maximum number of results to return",
              "schema": {
                "type": "integer",
                "example": 20
              }
            },
            {
              "name": "offset",
              "in": "query",
              "description": "Number of results to skip for pagination",
              "schema": {
                "type": "integer",
                "example": 0
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List of appointments with pagination metadata",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "appointments": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Appointment"
                        }
                      },
                      "total": {
                        "type": "string",
                        "description": "Total number of appointments matching the criteria",
                        "example": "7"
                      },
                      "size": {
                        "type": "string",
                        "description": "Number of appointments returned in this response",
                        "example": "5"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/appointment/tags": {
        "get": {
          "tags": [
            "Appointments"
          ],
          "summary": "List booking tags",
          "description": "Get all available booking tags for the organization with pagination support.\n\nTags can be used to categorize and filter appointments based on custom organizational criteria.\n",
          "operationId": "listBookingTags",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Maximum number of tags to return",
              "schema": {
                "type": "integer",
                "example": 10
              }
            },
            {
              "name": "offset",
              "in": "query",
              "description": "Number of tags to skip for pagination",
              "schema": {
                "type": "integer",
                "example": 0
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List of booking tags with pagination metadata",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "tags": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/BookingTag"
                        }
                      },
                      "total": {
                        "type": "string",
                        "description": "Total number of tags available",
                        "example": "16"
                      },
                      "size": {
                        "type": "string",
                        "description": "Number of tags returned in this response",
                        "example": "10"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/doctor/{IDDoctor}": {
        "get": {
          "tags": [
            "Doctors"
          ],
          "summary": "Get doctor by ID",
          "description": "Get doctor information by doctor ID from the doctor service.\n\nThis endpoint retrieves comprehensive doctor data including specialties, clinic associations, and user information.\n",
          "operationId": "getDoctorById",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "IDDoctor",
              "in": "path",
              "required": true,
              "description": "Doctor ID",
              "schema": {
                "type": "string"
              },
              "example": "1001"
            }
          ],
          "responses": {
            "200": {
              "description": "Doctor information",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Doctor"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/doctor/user/{IDUser}": {
        "get": {
          "tags": [
            "Doctors"
          ],
          "summary": "Get doctor by user ID",
          "description": "Get doctor information by user ID",
          "operationId": "getDoctorByUserId",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "IDUser",
              "in": "path",
              "required": true,
              "description": "User ID",
              "schema": {
                "type": "string"
              },
              "example": "3001"
            }
          ],
          "responses": {
            "200": {
              "description": "Doctor information",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Doctor"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/doctor/{doctorID}/clinic/{clinicID}": {
        "get": {
          "tags": [
            "Doctors"
          ],
          "summary": "Get doctor clinic info",
          "description": "Get doctor information at a specific clinic",
          "operationId": "getDoctorClinicInfo",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "doctorID",
              "in": "path",
              "required": true,
              "description": "Doctor ID",
              "schema": {
                "type": "string"
              },
              "example": "1001"
            },
            {
              "name": "clinicID",
              "in": "path",
              "required": true,
              "description": "Clinic ID",
              "schema": {
                "type": "string"
              },
              "example": "2001"
            }
          ],
          "responses": {
            "200": {
              "description": "Doctor clinic information",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DoctorClinic"
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/doctor/{doctorID}/clinic/{clinicID}/phone": {
        "get": {
          "tags": [
            "Doctors"
          ],
          "summary": "Get doctor clinic phone",
          "description": "Get doctor's phone number at a specific clinic",
          "operationId": "getDoctorClinicPhone",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "doctorID",
              "in": "path",
              "required": true,
              "description": "Doctor ID",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "clinicID",
              "in": "path",
              "required": true,
              "description": "Clinic ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Doctor clinic phone information",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idDoctor": {
                        "type": "string",
                        "description": "Doctor ID",
                        "example": "1"
                      },
                      "idClinic": {
                        "type": "string",
                        "description": "Clinic ID",
                        "example": "2292"
                      },
                      "phone": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "description": "Phone number with extension",
                          "example": "+506 88776655 (ext 123)"
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      },
      "/practice/v2/doctor/{doctorID}/clinic/{clinicID}/address": {
        "get": {
          "tags": [
            "Doctors"
          ],
          "summary": "Get doctor clinic address",
          "description": "Get doctor's address at a specific clinic",
          "operationId": "getDoctorClinicAddress",
          "parameters": [
            {
              "$ref": "#/components/parameters/OrganizationId"
            },
            {
              "name": "doctorID",
              "in": "path",
              "required": true,
              "description": "Doctor ID",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "clinicID",
              "in": "path",
              "required": true,
              "description": "Clinic ID",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Doctor clinic address information",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "idDoctor": {
                        "type": "string",
                        "description": "Doctor ID",
                        "example": "1"
                      },
                      "idClinic": {
                        "type": "string",
                        "description": "Clinic ID",
                        "example": "2292"
                      },
                      "address": {
                        "type": "string",
                        "description": "Clinic address",
                        "example": "123 Medical Plaza, Building A, Floor 2, Office 15"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "500": {
              "$ref": "#/components/responses/ServerError"
            }
          }
        }
      }
    },
    "webhooks": {
      "appointmentEvents": {
        "post": {
          "tags": [
            "Webhooks"
          ],
          "summary": "Appointment Events",
          "description": "Webhook notifications sent when appointment-related events occur in the system.\n\n**Event Types:**\n- `APPOINTMENT_CREATED` - Triggered when a new appointment is scheduled\n- `APPOINTMENT_UPDATED` - Triggered when appointment details are modified\n- `APPOINTMENT_CANCELLED` - Triggered when an appointment is cancelled\n- `APPOINTMENT_RESCHEDULED` - Triggered when an appointment is moved to a different time\n\n**Setup Required:**\nWebhook subscriptions must be requested through Huli support. Contact support with your webhook endpoint URL, preferred authentication method, and which events you want to receive.\n",
          "operationId": "appointmentWebhook",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentWebhookPayload"
                },
                "examples": {
                  "appointmentCreated": {
                    "summary": "Appointment Created",
                    "value": {
                      "id": 12345,
                      "event": "APPOINTMENT_CREATED",
                      "timestamp": "2023-12-01T10:00:00Z",
                      "data": {
                        "id_event": 67890,
                        "id_appointment": 54321,
                        "patient": {
                          "id": 98765,
                          "name": "John Doe",
                          "email": "john.doe@example.com"
                        },
                        "doctor": {
                          "id": 11111,
                          "name": "Dr. Smith"
                        },
                        "appointment_time": "2023-12-01T14:00:00Z",
                        "status": "SCHEDULED"
                      }
                    }
                  },
                  "appointmentCancelled": {
                    "summary": "Appointment Cancelled",
                    "value": {
                      "id": 12346,
                      "event": "APPOINTMENT_CANCELLED",
                      "timestamp": "2023-12-01T10:05:00Z",
                      "data": {
                        "id_event": 67891,
                        "id_appointment": 54321,
                        "reason": "Patient requested cancellation"
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Webhook received successfully"
            },
            "400": {
              "description": "Invalid webhook payload"
            },
            "401": {
              "description": "Authentication failed"
            },
            "500": {
              "description": "Webhook processing failed"
            }
          },
          "security": [
            {
              "webhookAuth": []
            }
          ]
        }
      },
      "checkupEvents": {
        "post": {
          "tags": [
            "Webhooks"
          ],
          "summary": "Checkup Events",
          "description": "Webhook notifications sent when checkup-related events occur in the system.\n\n**Event Types:**\n- `CHECKUP_CREATED` - Triggered when a new checkup is completed\n- `CHECKUP_UPDATED` - Triggered when checkup data is modified\n\n**Using Webhook Data:**\nThe checkup data provided in the webhook payload can be used to retrieve detailed information using the checkup API endpoints in the \"EHR - Checkups\" section. Use the `id_event` field to fetch specific checkup data like vital signs, systematic examination, and other checkup details.\n\n**Setup Required:**\nWebhook subscriptions must be requested through Huli support. Contact support with your webhook endpoint URL, preferred authentication method, and which events you want to receive.\n",
          "operationId": "checkupWebhook",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckupWebhookPayload"
                },
                "examples": {
                  "checkupCreated": {
                    "summary": "Checkup Created",
                    "value": {
                      "id": 12347,
                      "event": "CHECKUP_CREATED",
                      "timestamp": "2023-12-01T15:30:00Z",
                      "data": {
                        "id_event": 67892,
                        "patient": {
                          "id": 98765,
                          "name": "John Doe"
                        },
                        "doctor": {
                          "id": 11111,
                          "name": "Dr. Smith"
                        },
                        "checkup_date": "2023-12-01T15:00:00Z",
                        "type": "REGULAR_CHECKUP"
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Webhook received successfully"
            },
            "400": {
              "description": "Invalid webhook payload"
            },
            "401": {
              "description": "Authentication failed"
            },
            "500": {
              "description": "Webhook processing failed"
            }
          },
          "security": [
            {
              "webhookAuth": []
            }
          ]
        }
      }
    },
    "components": {
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "bearerFormat": "JWT",
          "description": "JWT authentication token. Include in the Authorization header as: Bearer {token}\n"
        },
        "webhookAuth": {
          "type": "http",
          "scheme": "bearer",
          "description": "Authentication for webhook delivery. The specific authentication method depends on your webhook configuration setup with Huli support. Available methods include:\n- Bearer tokens\n- API keys in headers\n- OAuth 2.0\n- Session-based authentication\n"
        }
      },
      "parameters": {
        "OrganizationId": {
          "name": "id_organization",
          "in": "header",
          "required": true,
          "description": "Organization ID for scoping operations to a specific organization",
          "schema": {
            "type": "integer",
            "example": 4001
          }
        }
      },
      "schemas": {
        "Error": {
          "type": "object",
          "required": [
            "error"
          ],
          "properties": {
            "error": {
              "type": "object",
              "required": [
                "code",
                "message"
              ],
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code",
                  "example": "CHA00001"
                },
                "message": {
                  "type": "string",
                  "description": "Human-readable error message",
                  "example": "Invalid JSON"
                }
              }
            }
          }
        },
        "WebhookPayload": {
          "type": "object",
          "required": [
            "id",
            "event",
            "timestamp",
            "data"
          ],
          "properties": {
            "id": {
              "type": "integer",
              "description": "Unique identifier for this webhook delivery",
              "example": 12345
            },
            "event": {
              "type": "string",
              "description": "Type of event that triggered this webhook",
              "enum": [
                "APPOINTMENT_CREATED",
                "APPOINTMENT_UPDATED",
                "APPOINTMENT_CANCELLED",
                "APPOINTMENT_RESCHEDULED",
                "CHECKUP_CREATED",
                "CHECKUP_UPDATED"
              ],
              "example": "APPOINTMENT_CREATED"
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "description": "ISO 8601 timestamp when the event occurred",
              "example": "2023-12-01T10:00:00Z"
            },
            "data": {
              "type": "object",
              "description": "Event-specific data payload",
              "properties": {
                "id_event": {
                  "type": "integer",
                  "description": "Internal event identifier",
                  "example": 67890
                },
                "id_appointment": {
                  "type": "integer",
                  "description": "Appointment identifier (for appointment events)",
                  "example": 54321
                },
                "patient": {
                  "type": "object",
                  "description": "Patient information",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Patient identifier",
                      "example": 98765
                    },
                    "name": {
                      "type": "string",
                      "description": "Patient full name",
                      "example": "John Doe"
                    },
                    "email": {
                      "type": "string",
                      "description": "Patient email address",
                      "example": "john.doe@example.com"
                    }
                  }
                },
                "doctor": {
                  "type": "object",
                  "description": "Doctor information",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Doctor identifier",
                      "example": 11111
                    },
                    "name": {
                      "type": "string",
                      "description": "Doctor name",
                      "example": "Dr. Smith"
                    }
                  }
                },
                "appointment_time": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Scheduled appointment time (for appointment events)",
                  "example": "2023-12-01T14:00:00Z"
                },
                "status": {
                  "type": "string",
                  "description": "Current status (for appointment events)",
                  "example": "SCHEDULED"
                },
                "reason": {
                  "type": "string",
                  "description": "Reason for action (e.g., cancellation reason)",
                  "example": "Patient requested cancellation"
                },
                "checkup_date": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Checkup completion date (for checkup events)",
                  "example": "2023-12-01T15:00:00Z"
                },
                "type": {
                  "type": "string",
                  "description": "Type of checkup (for checkup events)",
                  "example": "REGULAR_CHECKUP"
                }
              }
            }
          }
        },
        "AppointmentWebhookPayload": {
          "type": "object",
          "required": [
            "id",
            "event",
            "timestamp",
            "data"
          ],
          "properties": {
            "id": {
              "type": "integer",
              "description": "Unique identifier for this webhook delivery",
              "example": 12345
            },
            "event": {
              "type": "string",
              "description": "Type of appointment event that triggered this webhook",
              "enum": [
                "APPOINTMENT_CREATED",
                "APPOINTMENT_UPDATED",
                "APPOINTMENT_CANCELLED",
                "APPOINTMENT_RESCHEDULED"
              ],
              "example": "APPOINTMENT_CREATED"
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "description": "ISO 8601 timestamp when the event occurred",
              "example": "2023-12-01T10:00:00Z"
            },
            "data": {
              "type": "object",
              "description": "Appointment-specific data payload",
              "properties": {
                "id_event": {
                  "type": "integer",
                  "description": "Internal event identifier",
                  "example": 67890
                },
                "id_appointment": {
                  "type": "integer",
                  "description": "Appointment identifier",
                  "example": 54321
                },
                "patient": {
                  "type": "object",
                  "description": "Patient information",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Patient identifier",
                      "example": 98765
                    },
                    "name": {
                      "type": "string",
                      "description": "Patient full name",
                      "example": "John Doe"
                    },
                    "email": {
                      "type": "string",
                      "description": "Patient email address",
                      "example": "john.doe@example.com"
                    }
                  }
                },
                "doctor": {
                  "type": "object",
                  "description": "Doctor information",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Doctor identifier",
                      "example": 11111
                    },
                    "name": {
                      "type": "string",
                      "description": "Doctor name",
                      "example": "Dr. Smith"
                    }
                  }
                },
                "appointment_time": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Scheduled appointment time",
                  "example": "2023-12-01T14:00:00Z"
                },
                "status": {
                  "type": "string",
                  "description": "Current appointment status",
                  "example": "SCHEDULED"
                },
                "reason": {
                  "type": "string",
                  "description": "Reason for action (e.g., cancellation reason)",
                  "example": "Patient requested cancellation"
                }
              }
            }
          }
        },
        "CheckupWebhookPayload": {
          "type": "object",
          "required": [
            "id",
            "event",
            "timestamp",
            "data"
          ],
          "properties": {
            "id": {
              "type": "integer",
              "description": "Unique identifier for this webhook delivery",
              "example": 12347
            },
            "event": {
              "type": "string",
              "description": "Type of checkup event that triggered this webhook",
              "enum": [
                "CHECKUP_CREATED",
                "CHECKUP_UPDATED"
              ],
              "example": "CHECKUP_CREATED"
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "description": "ISO 8601 timestamp when the event occurred",
              "example": "2023-12-01T15:30:00Z"
            },
            "data": {
              "type": "object",
              "description": "Checkup-specific data payload. Use the `id_event` field to retrieve detailed checkup information using the checkup API endpoints in the \"EHR - Checkups\" section.\n",
              "properties": {
                "id_event": {
                  "type": "integer",
                  "description": "Internal event identifier - use this with checkup API endpoints to retrieve detailed data",
                  "example": 67892
                },
                "patient": {
                  "type": "object",
                  "description": "Patient information",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Patient identifier",
                      "example": 98765
                    },
                    "name": {
                      "type": "string",
                      "description": "Patient full name",
                      "example": "John Doe"
                    }
                  }
                },
                "doctor": {
                  "type": "object",
                  "description": "Doctor information",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Doctor identifier",
                      "example": 11111
                    },
                    "name": {
                      "type": "string",
                      "description": "Doctor name",
                      "example": "Dr. Smith"
                    }
                  }
                },
                "checkup_date": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Checkup completion date",
                  "example": "2023-12-01T15:00:00Z"
                },
                "type": {
                  "type": "string",
                  "description": "Type of checkup",
                  "example": "REGULAR_CHECKUP"
                }
              }
            }
          }
        },
        "PatientFileRequest": {
          "type": "object",
          "required": [
            "personalData"
          ],
          "properties": {
            "personalData": {
              "type": "object",
              "required": [
                "firstName"
              ],
              "properties": {
                "firstName": {
                  "type": "string",
                  "description": "Patient's first name",
                  "example": "Nombre"
                },
                "lastName": {
                  "type": "string",
                  "description": "Patient's last name (can include both surnames)",
                  "example": "Apellido1 Apellido2"
                },
                "knownAs": {
                  "type": "string",
                  "description": "Name the patient is commonly known by",
                  "example": "Conocido Como"
                },
                "idEthnicGroup": {
                  "type": "integer",
                  "description": "Ethnic group identifier:\n- 1: Afro-descendant\n- 2: Indigenous\n- 3: Arab\n- 4: Caucasian\n- 5: Mestizo\n- 6: Oriental\n- 7: Other\n- 9: Mulatto\n- 10: Latino\n",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    9,
                    10
                  ],
                  "example": 5
                },
                "ethnicGroupOther": {
                  "type": "string",
                  "description": "Description if ethnic group is 'Other'",
                  "example": "Otro Grupo Etnico"
                },
                "photo": {
                  "type": "string",
                  "description": "Path to patient's photo",
                  "example": "/huli/patient/photo/0upxts.jpg"
                },
                "birthdate": {
                  "type": "string",
                  "format": "date",
                  "description": "Patient's date of birth (YYYY-MM-DD)",
                  "example": "1995-06-16"
                },
                "gender": {
                  "type": "string",
                  "enum": [
                    "MALE",
                    "FEMALE",
                    "INTERSEXUAL"
                  ],
                  "description": "Patient's biological sex (defaults to NONE_GENDER if not provided)",
                  "example": "MALE"
                },
                "bloodType": {
                  "type": "string",
                  "enum": [
                    "O_POSITIVE",
                    "O_NEGATIVE",
[...]
